/**
Converted to styled-components instead of Sass.
Styles left here for demonstration purposes, but no longer imported into the respective component.
**/

.login {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}