/**
Converted to styled-components instead of Sass.
Styles left here for demonstration purposes, but no longer imported into the respective component.
**/

.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}