/**
Converted to styled-components instead of Sass.
Styles left here for demonstration purposes, but no longer imported into the respective component.
**/


.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
}