/**
Converted to styled-components instead of Sass.
Styles left here for demonstration purposes, but no longer imported into the respective component.
**/

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
